{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>Welcome to Gorgon</h1>
<p>Welcome to Peter's development website. This is where I test the many APIs and django modules I am learning as a novice djangoist.  It will be multi-faceted, disconnected, and each piece will writhe with an independent sense of purpose.  In short, it is a Gorgon.</p>
<p>This site is probably going to come and go, since it is only active when I am running it in the terminal.  </p>
<h1>Contents</h1>
<ul>
    <li><a href="/hello/">World, please see:</a></li>
    <li><a href="/admin/">Admin login</a></li>
    <li><a href="/polls/">Polls</a></li>
    <li><a href="/maps/">Google maps API</a></li>
    <li>Elevation</li>
    <li>Pictures & slideshows</li>
    <li>File uploader</li>
    <li>Graphs</li>
    <li>Payment system</li>
</ul>
<p>Thank you for visiting!</p>
{% endblock %}

